@font-face {
  font-family: 'CBNUJIKJI';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/CBNUJIKJI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OTWelcomeRA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

.po-re {
  position: relative;
}

.hei-0 {
  height: 0;
}

.hei-85 {
  height: 85vh;
}

.menu-txt {
  font-weight: 700;
  transform: scale(1.1);
  text-transform: capitalize;
}

.opa-0 {
  opacity: 0;
}

.opa-70 {
  opacity: 0.7;
}

.opa-1 {
  opacity: 1;
}

.d-none {
  display: none;
}

.over-hid {
  overflow: hidden;
}

header {
  width: 100vw;
  height: 15vh;
  background-color: rgba(240, 240, 240, 0.5);
  transition: 1500ms;
  opacity: 0;
}

#logo {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 15vh;
}

#menu {
  display: flex;
  width: 30vw;
  height: 15vh;
  justify-content: center;
  align-items: center;
  margin-left: 60vw;
  transition: 400ms;
}

#menu>li {
  width: 25%;
  text-align: center;
  transition: 200ms;
  cursor: pointer;
}

.box {
  width: 100vw;
  transition: 200ms;
  overflow: hidden;
  position: relative;
}

#main {
  transition: 450ms;
}

#color-box {
  position: absolute;
  border-radius: 25%;
  top: -55%;
  left: -100%;
  width: 0%;
  height: 500%;
  z-index: 1;
  transition: 1200ms;
  transform: rotate(35deg);
  background-color: #000;
}

#main span {
  font-size: 50px;
  display: inline-block;
  position: absolute;
  transition: 200ms;
  z-index: 5;
  font-family: 'CBNUJIKJI';
}

#main span:nth-child(1) {
  top: 20vh;
  left: 18vw;
  transform: scale(3);
}

#main span:nth-child(2) {
  top: 53vh;
  right: 20vw;
  opacity: 0;
}

#scroll-down {
  position: fixed;
  display: block;
  width: 5%;
  height: auto;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  transition: 800ms;
  z-index: 5;
}

#about {
  transition: 450ms;
}

#skills {
  background: url(../skill/Untitled-1.png);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 450ms;
}

#skills>h1 {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em;
}

#click {
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  top: 40vh;
  transition: 500ms;
}


#about>h1 {
  transform: rotateX(0deg);
  display: block;
  transition: 1s;
  font-family: 'OTWelcomeRA';
}

#about>h1:hover {
  transform: rotateZ(-30deg);
}

#about-wrap {
  position: relative;
  left: 10vw;
  top: 15vh;
  width: 80vw;
  /* border: 1px solid black; */
  height: 60vh;
}

#picture {
  position: absolute;
  width: 18vw;
  height: 40vh;
  top: 10vh;
  left: 5vw;
  border: 1px solid black;
}

#picture img {
  width: 100%;
  height: 100%;
}

#textbox {
  top: 5vh;
  height: 50vh;
  width: 40vw;
  /* border: 1px solid black; */
  position: absolute;
  right: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#textbox>p {
  font-size: 1rem;
  text-align: center;
  padding: 30px;
  line-height: 1.7rem;
  letter-spacing: 0.1rem;
  font-family: 'OTWelcomeRA';
}

#project {
  width: 100vw;
  height: auto;
  min-height: 80vh;
  transition: 450ms;
}

#project>h1 {
  position: absolute;
  top: 13.2vh;
  left: 20vw;
  color: black;
}

#con {
  width: 100vw;
  height: 85vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#con #project-box{
  width: 19%;
  height: 75%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 6px 20px rgba(1,1,1,0.3);
  overflow: hidden;
  position: relative;
}

#con #project-title{
  height: 7%;
  font-size: 22px;
}
#con #text-box{
  height: 20%;
  width: 80%;
  text-align: center;
}

#blank-box{
  height: 2.5%;
}

#con #img-box{
  width: 100%;
  height: 65%;
  background-color: aqua;
  justify-self: start;
}

#con #toy-img-box{
  width: 400%;
  height: 65%;
  background: linear-gradient(to right,blue,red);
  justify-self: start;
  align-self: flex-start;
  transition: 500ms;
  display: flex;
  overflow: hidden;

}

#con #toy-img-box a{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#con #toy-img-box img{
  height: 100%;
  width: 100%;
  
}

#con #img-box img{
  width: 100%;
  height: 100%;
}

#con #toy-toggle{
  width: 50%;
  height: 5%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 58%;
}
#toy-toggle div{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 12px solid #333;
  cursor: pointer;
}

#toy-toggle .toggle-on{
  border: 6px solid #333;
  background-color: white;
}

#toTop {
  position: fixed;
  bottom: 5vh;
  right: 4vw;
  padding: 5px;
  border: none;
  border-radius: 50%;
  transition: 500ms;
  background-color: white;
}